html,body{
  width: 100%;
  height: 100%;
  text-align: center;
  /*font-family: Hack, monospace;*/
}
.name{
  font-size: 2em;
  margin: 45px 0 0;
}
#bg{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /*background: url('https://files.catbox.moe/kkqe8o.jpg');*/
  background: url('https://catbox.moe/bgs/texture3.png');
  /*background-repeat: no-repeat;*/
  /*background-size: 50%;
  background-size: cover;
  background-position: 50%;*/
  /*-webkit-filter: blur(60px);
    -moz-filter: blur(60px);
     -ms-filter: blur(60px);
         filter: blur(60px);*/
  /*opacity: .5;*/
}
#lem{
  position: fixed;
  bottom: -10px;
  left:-4px;
  cursor: pointer;
  opacity: .8;
  transition: all .3s;
}
#lem img{
  position: absolute;
  bottom: 0;
  left:0;
}
.avg{
  margin: 0;
  padding: 10px;
  box-shadow: 0 20px 68px rgba(0, 0, 0, 0.12);
  background: rgba(52, 124, 200,.9);
}
.avg img{
  position: relative;
  top: 50px;
  border-radius: 50%;
  /*-moz-box-shadow:0px 1px 6px rgba(0,0,0,.3);*/
  /*-webkit-box-shadow:0px 1px 6px rgba(0,0,0,.3);*/
  /*box-shadow:0px 1px 6px rgba(0,0,0,.1);*/
  border: 4px solid rgba(52, 124, 200,.9);
  -webkit-transition: all .3s;
  transition:         all .3s;
}
.map{
  margin: 4px 0 20px;
  color: rgba(0,0,0,.7)
}
#des{
  width: 100%;
  height: auto;
  margin: 14px 0 0;
  text-align: center;
}#des pre{
  position: relative;
  display: inline-block;
  padding: 0;
  border-radius: 4px;
  background: #151515;
  box-shadow: 0 20px 68px rgba(0,0,0,.55);
}
.link a{
  position:relative;
  display:inline-block;
  margin: 0 10px 8px;
  padding:6px 15px;
  font-weight:400;
  font-size:14px;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  background-image:none;
  border:1px solid transparent;
  border-radius:4px;
  white-space:nowrap;
  line-height:1.5;
  user-select:none;
  transition:color .3s ease,background-color .3s ease,border .3s ease;
  color:rgba(0, 0, 0, 0.7);
  border-color:rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.link a:hover{
  border: 1px solid #085681;
}
.link i{
  font-size: 20px;
  padding: 9px;
  vertical-align:middle;
}
.link a:hover i{
}
#images{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 300px;
}
#images img{
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line{
  width: 616px;
  height: 60px;
  margin: 0 auto;
  margin-top: 1em;
  background: #333;
  background: url('https://files.catbox.moe/3yr4i3.png');
  background-size: cover;
  opacity: .8;
}
#icon{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 40px;
  background: rgba(0,0,0,.1);
}
#icon span{
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #fbbe3f;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  border: 1px solid none;
}
#icon span:last-child{
  background: #45cc4b;
}
#icon span:first-child{
  background: #f85955;
}
